extends layout

block content
  div(class="modal-container")
    div(class="modal error-modal")
      div(class="close")
        img(src="images/times.png")
      h1()= "You don't yet qualify for the community credentials beta program."
      p()= "You need purchase a track from a participating release, then come back here and enter the email you use with your Resonate account."
      div(class="participating-releases")
        h2()= "Participating Releases"
        a(href="https://beta.resonate.is/tracks/21516", target="_blank", class="album-link")
          h3()="Kallie Marie"
          img(src='images/kallie-syssbm.jpg', alt='Kallie Marie - Should Your Sun Set Before Mine', style='width:200px; margin-right:50px;')
          label()= "Should Your Sun Set Before Mine"
    div(class="modal success-modal")
      div(class="close")
        img(src="images/times.png")
      h1()= "You qualify for the community credentials beta program!"
      p()= "Please follow these steps to participate. If you close this page by mistake, just come back to this page and re-enter your email again."
      div(class="steps")
        div(class="step app")
          h2()= '1. Download the "VC Wallet" App'
          div(class="step-content")
            p()= "Make sure the app you download is made by \"Verifiable Credentials Ltd\" and that it looks like the logo on the left. If you're reading this on your phone, tap the App Store or Google Play logos to go to the app."
            div(class="app-links")
              div(class="vc-ltd-app")
                img(alt="VC Wallet", src="/images/vc-wallet.png")
              div(class="stores")
                div(class="ios")
                  a(href="https://apps.apple.com/us/app/vc-wallet/id1529011137?itsct=apps_box_badge&amp;itscg=30200")
                    img(alt="Download on the App Store", src="/images/ios-app-store.svg")
                div(class="android")
                  a(href="https://play.google.com/store/apps/details?id=org.verifiablecredentials.vcholder&hl=en&gl=US&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1")
                    img(alt='Get it on Google Play', src='/images/google-play-badge.png')
        div(class="step qr-code")
          h2()= '2. Get your credentials'
          div(class="step-content")
            p()= "When you scan this QR code, you'll be issued with a credential that proves you're a supporter of Kallie Marie. You can use it to get access to her private group on Resonate's Community"
            div(class="qr-links")
              canvas(id="qr-canvas")
        
        div(class="step community")
          h2()= '3. Get access to the community'
          div(class="step-content")
            p()= "When you've got your credentials, click the link below to go Kallie Marie's private group on the Resonate Community, where you can present your credentials to get access."
            div(class="resonate-community")
              a(href="https://community.resonate.is/g/kallie_marie")
                img(src="/images/community_logo.png")

  div(style="display:flex;justify-content:center;align-items:flex-start;flex-direction:column;z-index:1;background:black;padding:2em;margin:2em auto;width:800px;max-width:90%;color:white;box-sizing: border-box;")
    img(src='images/logo.svg', alt='Resonate', style="height: 50px;")
    h1(class="title")= "Community Credentials Beta Program"
    p()= "Enter the email you use with your Resonate account."
    form(id="trial-form", name="issue")
      input(type="text", name="email", placeholder="enter your email", style="padding:1em;border:none;font-size:1.5em;")
      input(type="submit", name="stream", value="Get Access")
    div(class="links")
      a(href="#what", style="color:white;")= "What is this?"
      a(href="#how", style="color:white;")= "How does it work?"
      a(href="#who", style="color:white")= "Who's participating?"
      a(href="#more", style="color:white;")= "Where can I find out more?"
    div(class="question")
      h2(id="what")= "What is this?"
      p()= "Resonate is trialing a new way of connecting our artists and listeners. We're issuing \"Community Credentials\" to proven supporters of participating artists. You can use your credentials to get access to a private community for the artist, where you'll find exclusive content and other supporters like you."
    div(class="question")
      h2(id="how")= "How does it work?"
      p()= "If you have purchased a track from a participating release, enter the email you use with your Resonate account and click \"Get Access\". If you qualify, you'll be issued credentials and shown how you can use them to access the private community for the artist."
    div(class="question")
      h2(id="who")= "Who's participating?"
      a(href="https://beta.resonate.is/tracks/21516", target="_blank" class="album-link")
        h3()="Kallie Marie"
        p()="Supporters of Kallie Marie who have purchased a track from her new Album."
        img(src='images/kallie-syssbm.jpg', alt='Kallie Marie - Should Your Sun Set Before Mine', style='width:200px; margin-right:50px;')
        label()= "Should Your Sun Set Before Mine"
    div
      h2()= "Where can I find out more?"
      p
        span(style="margin-right:.25em;")= "To find out more head over to the"
        span(style="margin-right:.25em;")
          a(href='https://community.resonate.is/c/platform/community-credentials/57', target="_blank")= "#community-credentials"
        span(style="margin-right:.25em;")= "category on the"
        span
          a(href="https://community.resonate.is", target="_blank")= "Resonate Community."
  div.background
    ul
      li
        div
          span(role='img' aria-label='Zomby' style='background: url(images/zomby.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='Keep Shelly In Athens' style='background: url(images/ksia.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='San Hani' style='background: url(images/san_hani.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='Guilty Connector' style='background: url(images/guilty_connector.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='YHUNIIQ' style='background: url(images/YHUNIIQ.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='Pswingset' style='background: url(images/pswingset.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='RP Boo' style='background: url(images/rp_boo.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='L Ø V' style='background: url(images/lov.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label="Vex'd" style='background: url(images/vex_d.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='Prophet' style='background: url(images/prophet.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='Roly Porter & Cynthia Millar' style='background: url(images/rpcm.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='Raen Arthur' style='background: url(images/raen_arthur.png) no-repeat;')
      li
        div
          span(role='img' aria-label='Sukitoa o Namau' style='background: url(images/sukitoa_o_namau.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='dagan' style='background: url(images/dagan.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='DeShawn a.k.a. Je' style='background: url(images/deshawn.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='Jenny Caicedo' style='background: url(images/jenny_caicedo.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='dbh' style='background: url(images/dbh.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='Marko Kush' style='background: url(images/marko_kush.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='Carlos Trilha' style='background: url(images/carlos_trilha.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='ROLSTR' style='background: url(images/ROLSTR.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='Big Chief Buffalo Bass' style='background: url(images/big_chief_buffalo_bass.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='Mischa Lively' style='background: url(images/mischa_lively.jpg) no-repeat;')
      li
        div
          span(role='img' aria-label='Sandtimer' style='background: url(images/sandtimer.png) no-repeat;')
      li
        div
          span(role='img' aria-label='Color Theory' style='background: url(images/color_theory.jpg) no-repeat;')