extends layout

block content
  header(style="position:fixed;top:0;left:0;width:100vw;height:100px;border-bottom:1px solid #333;display:flex;align-items:center;justify-content:space-between;padding:0 2em;box-sizing:border-box;")
    img(src='images/resonate.png', alt='Resonate', style='height:99px;')
    img(src='images/angus.png', alt="Angus", style="border-radius:50%;width:50px;height:50px;")
  h1(style="padding: 80px 0 20px; border-bottom: 1px solid black;")= 'Buy Get A Grip - Radio Edit by Feral Five'
  div(style="display: flex;")
    div(style="border-right: 1px solid black; padding-right: 10px;")
      img(src='images/feral-five.jpg', alt='Album', style='width:300px; margin-right:50px;')
    form(style="margin-left: 50px;" name="purchase", action="/purchase", method='post')
      h2()= 'You are 1 play away from owning this track.'
      table(style="width: 400px")
        thead
          tr
            td()= 'Total remaining cost'
            td()= 'Current stream'
            td()= 'Next stream'
        tbody
          tr
            td(style="font-weight:800")= '0.0060 €0.20'
            td(style="font-weight:800")= '0.0060'
            td(style="font-weight:800")= '0.0000'
      h3()= "On purchase you'll be issued Supporter Credentials for Feral Five."
      div(style="display: inline-flex; align-items: center; padding: 10px; background-color: #e8e7e7; width: fit-content;")
        img(src='images/passport.png', style='width:20px; margin-right: 10px;')
        span()= 'Credentials will be issued to "Angus\'s Wallet".'
      div.input
          input(type="submit", name="stream", value="Buy Now", style="padding:6px 12px; border:1px solid #333; font-size: 1.5em; margin-top: 1em; background-color: black; color: white;")
